.App {
  text-align: center;
}

.App-main {
  background-color: #5f646d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #a0ccd8;
}
.card {
  border: 1px solid rgb(170, 166, 158);
  border-radius: 15px;
  margin: 10px;
}

.foto-name {
  display: flex;
}
.name-title {
  display: flex;
  flex-direction: column;
}
img {
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.contact-data {
  display: flex;
}

.contact-data img {
  max-height: 20px;
}

ul {
  list-style: none;
}
